.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.navhead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 5rem;
}
.leftNav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.logoDiv img{
    width: 100%;
    height: 60px;
}

.rightNav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLinkDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLinks li{
    list-style-type: none;
    margin-right: 3rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 13px;
}
.navLinks li:last-child{
    margin-right: 0px;
}